<div class="ui three column padded grid">
  <div class="one wide column" style="max-width: 3%">
    <i class="circle outline large icon" *ngIf="!todo.done" 
        (click)="(todo.text && todo.text.length > 0) && todo.done = !todo.done"></i>
    <i class="check circle large green icon" *ngIf="todo.done" 
      (click)="todo.done = !todo.done"></i>  
  </div>
  <div class="twelve wide column">
    <div class="ui transparent fluid input" 
      [class.done] ="todo.done && todo.text && todo.text.length > 0">
        <input type="text" (keydown.enter)="handleKeyUp($event)" [autofocus]="true"
           [(ngModel)]="todo.text" placeholder="Add task...">
    </div>
  </div>
  <div class="two wide column">
      <div class="ui mini basic compact icon buttons">
          <button class="ui compact button">
            <i class="trash icon" (click)="deleteTodo()"></i>
          </button>
          <button class="ui compact button">
              <i class="stopwatch icon" [class.green]="isSelectedTask" 
              (click)="bindToPomodoro()"></i>
          </button>
      </div>
  </div> 
</div>

