[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block; /* For Firefox */
  }

[contenteditable]:focus {
    outline: 0px solid transparent;
}
 .done {
    text-decoration: line-through;
 } 