<div class="ui two column padded grid">
  <div class="one wide column" style="max-width: 2%">
      <div class="ui radio checkbox">
          <input type="checkbox" 
          [value]="todo.done" 
          [(ngModel)] = "todo.done"
          (ngModelChange)="todo.done = $event">
          <label></label>
        </div>
  </div>
  <div class="fifteen wide column">
    <div contenteditable="true" 
      [class.done] ="todo.done && todo.text && todo.text.length > 0"
       placeholder="Enter text here..."
       [textContent]="todo.text" 
      (input)="todo.text=$event.target.textContent">
    </div>
  </div> 
</div>

